.image{
	align-items: left;
	font-size: 10px;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

.headline{
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;	
	font-size: 25px;
	font-family: sans-serif;
	color: black;
	}

h1{
	font-weight: bold;
	text-align: center;
	}

h2{
	text-align: center;
	font-style: italic;
	}


body {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	text-align: left;
	}

h3{
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	}

a {
	color: blue;
}

footer{
	font-family: sans-serif;
	text-align: left;
}

@media only screen and (max-width: 600px) {
	
.image{
	display: none;
	}
